*, *::before, *::after
    margin: 0
    padding: 0
    box-sizing: inherit

html
    font-size: 62.5%

body
    box-sizing: border-box

.app
    // padding: 2rem
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 1.4rem
    color: #404040
    background-color: #f8f8f8

    display: flex
    flex-direction: column
    // gap: 2rem
    
button
    border: transparent
    cursor: pointer
    font-family: inherit
    font-weight: bold
    font-size: inherit

    color: white
    // background-color: #ee4d5d
    // background-color: #5aa727
    background: linear-gradient(to bottom right, #ff7707, #ee4d5d)
    // background: linear-gradient(to bottom right, #ee4d5d, #ac87eb,  #076eff)
    background-size: 150% 150%

    padding: .6rem 1rem
    border-radius: .5rem

    display: flex
    align-items: center
    // justify-content: center
    gap: .5rem

    transition: .3s

    &:disabled
        opacity: .6
        cursor: not-allowed

    &:not(:disabled):hover
        box-shadow: rgba(black, .3) 0px 1px 4px

    &:not(:disabled):active 
        transform: translateY(.25rem)
        box-shadow: none

    & img
        filter: invert(100%) sepia(11%) saturate(7458%) hue-rotate(219deg) brightness(119%) contrast(109%)

.active

    animation: active 2s infinite
    
    img
        animation: rotating 2s infinite !important