.home
    height: 100%
    padding: 0 20rem

    display: grid
    grid-template-columns: 1fr auto
    grid-template-rows: auto 1fr
    gap: 2rem
    flex: 1

section
    display: flex
    flex-direction: column
    gap: 2rem

    &:nth-child(1)
        grid-column-start: span 2
        
    &:nth-child(2)
        // height: 100%
        // grid-template-rows: span 1

.actions, picture, .description
    padding: 1rem
    border-radius: 1rem

.actions
    display: flex
    align-self: flex-end
    gap: 1rem

    @include card()

picture
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    flex: 1

    @include card()

    & img
        height: 100%
        width: 100%
        border-radius: 1rem
        aspect-ratio: 16 / 9

.description
    width: 31.5rem
    display: flex
    text-align: justify
    flex: 1
    font-weight: bold
    @include card()